@model ASEFF.Models.User

@{
    ViewBag.Title = "Perfil";
}
<section class="section-profile">
    <div class="panel-portada">
        <div class="avatar">
            <img src="~/Content/Img/LOGO ASEFF.png" />
        </div>
    </div>

    <div class="contenido">
        <div class="tarjeta-1">
            <h2 class="titulo">Nombre y Apellidos</h2>
            <p class="texto">Rol</p>
            <p class="texto2"><b>Cumpleaños:</b> YYYY - MM -DD</p>
        </div>
        <div class="tarjeta-2">
            <ul class="ul">
                <li><i class="icon-home"></i> Estado</li>
                <li><i class="icon-location"></i> Nuevo Leon - MTY</li>
                <li><i class="icon-envelop"></i> email@dominio.com</li>
                <li><i class="icon-office"></i> FACPYA - UANL</li>
            </ul>
        </div>
        <ul class="redes">
            <li><a href="#" class="color-f" title=""><i class="icon-facebook"></i></a></li>
            <li><a href="#" class="color-t" title=""><i class="icon-twitter"></i></a></li>
            <li><a href="#" class="color-i" title=""><i class="icon-instagram"></i></a></li>
        </ul>
    </div>

</section>